body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bg-color{
  background-color: azure;
  padding: 100px;
  height: 100vh;
}
.left-side-ber{
  background-color: rgb(255, 255, 255);
  height: 70vh;
  padding-top: 31px;
  border-radius: 10px;
}
.menu-item{
  list-style: none;
  font-size: 17px;
  padding: 5px 0px;
}

.loading{
  position: relative;
  top:70%;
  left: 50%;

}
